@tailwind base;
@tailwind components;
@tailwind utilities;

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px, 40px, 40px, 20px;
    background-color: pink;
    text-align: center;
}